#test{
  font-size: 1.2em;
}
#buscar{
  width: 1em;
  height: 1em;
}
#inl{
  background-image: url("banner.png");
  background-size: 100%;
}
.center {
    width: 50%;
    float: left;
    margin-top: 5px;
}
.banner{
  float: right;
  width: 30%;
  margin-top: 25px;
  text-align: right;
  line-height: 0.5em;
}
#googlebutton{
  width: 48%;
  height: 50%;
  float: right;
  line-height: 0.5em;
}
.navbar-brand >img{
	height:100%;

  width: auto;
}
.navbar-brand {
  padding: 0px;
}